@charset "UTF-8";
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* Root font size */
  /*16(główny)/100*/
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  /* wysokość i szerokość strony liczona jest z borderami oraz paddingami */ }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* Czasami animacja pod sam koniec przesuwa sie nieco w góre lub trzęsie - aby temu zapobiec stosujemy backface-visability */
  backface-visibility: hidden;
  margin-bottom: 6.4rem; }
  .heading-primary--main {
    display: block;
    font-size: 9.6rem;
    font-weight: bold;
    font-family: "Gochi Hand", cursive;
    line-height: 7.2rem;
    margin-bottom: 2rem;
    animation-name: moveLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    /*
      animation-delay: 3s;
      animation-iteration-count: 3;
    */ }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
    animation: moveRight 1s ease-in; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(to right, #406882, #1a374d);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewX(1deg);
    text-shadow: 0.5rem 1rem 2rem rgba(26, 55, 77, 0.2); }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 12rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  background-color: #406882;
  color: #fff; }
  .btn--blue::after {
    background-color: #406882; }

.btn--animated {
  animation: moveBottom 0.5s ease-in 0.5s;
  /* Zanim animacja zacznie sie - button jest niewidoczny */
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #fff;
  font-size: 1.6rem;
  background-color: #406882;
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2.4rem;
  border-radius: 20rem;
  transition: all0 0.2s; }

.btn-text:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.55;
  filter: blur(0.01rem) brightness(60%);
  overflow: hidden; }
  .bg-video__conten {
    height: 100%;
    width: 100%;
    object-fit: 100%; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 55rem; }
  .card__side {
    background-color: orangered;
    height: 55rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    backface-visibility: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background: linear-gradient(to right bottom, #b1d0e0, #6998ab); }
      .card__side--back-2 {
        background: linear-gradient(to right bottom, #6998ab, #ac8e98); }
      .card__side--back-3 {
        background: linear-gradient(to right bottom, #ac8e98, #1a374d); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-position: center;
    height: 40%; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(177, 208, 224, 0.4), rgba(105, 152, 171, 0.5)), url(../img/offer-1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(105, 152, 171, 0.4), rgba(172, 142, 152, 0.5)), url(../img/offer-2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(172, 142, 152, 0.4), rgba(26, 55, 77, 0.5)), url(../img/offer-3.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 22%;
    right: 2%;
    width: 75%; }
  .card__heading-span {
    padding: 0.4rem 1rem;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(177, 208, 224, 0.85), rgba(105, 152, 171, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(105, 152, 171, 0.85), rgba(172, 142, 152, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(172, 142, 152, 0.85), rgba(26, 55, 77, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.1rem solid #777; }
  .card__cta {
    position: absolute;
    text-align: center;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1.6rem; }
    .composition__photo--p1 {
      left: 0;
      top: -4rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 25%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #1a374d;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: transform 0.4s; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.story {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 4rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  padding: 6rem;
  padding-left: 9rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translate(-4rem) scale(1.4);
    transition: all 0.5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translate(-4rem) scale(1.1);
    filter: blur(0.4rem) brightness(60%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4);
    height: 60%; }

.header {
  height: 95vh;
  background: linear-gradient(rgba(26, 55, 77, 0.8), rgba(177, 208, 224, 0.2)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  /*clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);*/ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #e6eaec;
  padding: 20rem 20rem; }

.section-features {
  padding: 10rem 0;
  background: linear-gradient(rgba(26, 55, 77, 0.8), rgba(177, 208, 224, 0.2)), url("../img/fog-2.jpg");
  background-size: cover;
  background-position: top; }

.section-tours {
  background-color: #e6eaec;
  padding: 20rem 20rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }
