// PROJECT COLORS
$color-primary: #6998ab;
$color-secondary: #406882;
$color-light-blue: #b1d0e0;
$color-light-blue-1: #e6eaec;
$color-dark-blue: #1a374d;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000000;

//Grid variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
