.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1.6rem;
    @include respond(tab-port) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }

    &--p1 {
      left: 10%;
      transform: translateY(100%);

      &:hover {
        z-index: 20;
        transform: scale(1.5) translateY(50%);
      }
    }
    &--p2 {
      left: 10%;
      top: -50%;

      &:hover {
        z-index: 20;
        transform: scale(1.5);
      }
    }
    &--p3 {
      left: 10%;
      transform: translateY(220%);
      &:hover {
        z-index: 20;
        transform: scale(1.5) translateY(150%);
      }
    }
    // &:hover {
    // outline: 1.5rem solid $color-dark-blue;
    // transform: scale(1.05);
    // box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);

    // }
  }
}
