.feature-box {
  background-color: rgba($color-white, 0.75);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);

  &__text {
  }
}
