*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Root font size */
  /*16(główny)/100*/
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(phone) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 72%;
  }
}

body {
  box-sizing: border-box; /* wysokość i szerokość strony liczona jest z borderami oraz paddingami */
}
