.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* Czasami animacja pod sam koniec przesuwa sie nieco w góre lub trzęsie - aby temu zapobiec stosujemy backface-visability */
  backface-visibility: hidden;
  margin-bottom: 6.4rem;

  &--main {
    display: block;
    font-size: 9.6rem;
    font-weight: bold;
    font-family: "Gochi Hand", cursive;
    line-height: 7.2rem;
    margin-bottom: 2rem;
    animation-name: moveLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    /*
      animation-delay: 3s;
      animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
    animation: moveRight 1s ease-in;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-gray-dark;
}
