.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* Czasami animacja pod sam koniec przesuwa sie nieco w góre lub trzęsie - aby temu zapobiec stosujemy backface-visability */
  backface-visibility: hidden;
  margin-bottom: 6.4rem;

  &--main {
    display: block;
    font-size: 9.6rem;
    font-weight: bold;
    font-family: "Gochi Hand", cursive;
    line-height: 7.2rem;
    margin-bottom: 2rem;
    animation-name: moveLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    /*
      animation-delay: 3s;
      animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
    animation: moveRight 1s ease-in;

    @include respond(phone) {
      font-size: 2.2rem;
      letter-spacing: 0.5rem;
    }
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-gray-dark;
}

.heading-secondary {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-secondary,
    $color-dark-blue
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
    text-align: center;
  }
  @include respond(phone) {
    font-size: 2.8rem;
    text-align: center;
  }

  &:hover {
    transform: skewX(1deg);
    text-shadow: 0.5rem 1rem 2rem rgba($color-dark-blue, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;

  @include respond(phone) {
    text-align: center;
  }
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;

    @include respond(phone) {
      text-align: center;
    }
  }
}
