.section-about {
  background-color: $color-light-blue-1;
  padding: 30rem 20rem;

  @include respond(phone) {
    padding: 8rem 2rem;
  }
  @include respond(tab-port) {
    padding: 16rem 4rem;
  }
}

.section-features {
  padding: 10rem 0;
  background: linear-gradient(
      rgba($color-dark-blue, 0.8),
      rgba($color-light-blue, 0.2)
    ),
    url("../img/fog-2.jpg");
  background-size: cover;
  background-position: top;
}

.section-tours {
  background-color: $color-light-blue-1;
  padding: 20rem 20rem;
}

.section-stories {
  padding: 10rem 0;
  position: relative;
}

.section-book {
  padding: 10rem 0;
  background-color: $color-light-blue-1;
}

.book {
  background-image: linear-gradient(
      90deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: 120%;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 3rem rgba($color-black, 0.4);
  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
